# Ignora node_modules (vamos instalar dentro do container)
node_modules

# Ignora dist (vai ser gerado no build do container)
dist

# Ignora arquivos de log
*.log

# Ignora arquivos de configuração do editor
.vscode
.idea
.dockerignore
.git
.gitignore
Dockerfile.dev
docker-compose.dev.yml
.env

# Ignora sistema operacional
.DS_Store

# Ignora testes (não precisa pro build de produção)
test
tests
coverage
__tests__

# Ignora arquivos de ambiente locais (opcional)
.env
.env.local
.env.*.local

# Ignora arquivos temporários
tmp
*.swp
