version: "3.8"
services:
  rasa:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - .:/app
    ports:
      - "5005:5005"
    environment:
      - MONGO_URI=${MONGO_URI}
      - DB_NAME=${DB_NAME}
    command: >
      sh -c "rasa train &&
             rasa run --model models/ --enable-api --cors '*' --debug"

  action-server:
    build:
      context: .
      dockerfile: ./actions/Dockerfile
    volumes:
      - ./actions:/app/actions
      - ./endpoints.yml:/app/endpoints.yml
    ports:
      - "5055:5055"
    environment:
      - MONGO_URI=${MONGO_URI}
      - DB_NAME=${DB_NAME}
      - BASE_URL_BACKEND=${BASE_URL_BACKEND}
    command: >
      start --actions actions

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017" 
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    restart: always

