services:
  backend:
    container_name: logibot_backend
    image: ghcr.io/ramoncbarbosa/logibot_backend:latest
    ports:
      - "3000:3000"
    environment:
      RASA_ACTION_URL: "http://rasa-action:5055/webhook"
    restart: unless-stopped