version: "3.8"

services:
  backend:
    container_name: logibot_backend_dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
