name: CI/CD Pipeline

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.16.0' 
        
      - name: Install dependencies
        run: npm install
        working-directory: .

      - name: Build project
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-folder
          path: src/dist/
        
  deploy:
    runs-on: ubuntu-latest
    needs: build 
    
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v3
        with:
          name: build-folder
          path: .